$fontPrimary:'Raleway', sans-serif;
$fontSecondary: 'Open Sans', sans-serif;

//colors
$mainColor: #8C030E;
$black: #000;
$white: #fff;
$bannerColor: #8C030E;
$bannerShadow: #400101;
$articleTextColor: #B0AEAB;